@import "tailwindcss";



/* Custom Components */
@layer components {
  .card {
    @apply rounded-xl backdrop-blur-sm bg-white/10 border border-white/20 shadow-lg transition transform hover:scale-105;
  }
}
